<div class="body-content">
  <h2>Edit Shelter</h2>

  <div class="shelter-card">
    <h1><%= @shelter.name %></h1>
    <p><%= @shelter.address %></p>
    <p><%= @shelter.city %>, <%= @shelter.state %></p>
  </div>

  <form action="/shelters/<%= @shelter.id %>" method="POST" class="top-space">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <input type="text" name="name" value="<%= @shelter.name %>" class="space"><br>
    <input type="text" name="address" value="<%= @shelter.address %>" class="space"><br>
    <input type="text" name="city" value="<%= @shelter.city %>" class="space"><br>
    <input type="text" name="state" value="<%= @shelter.state %>" class="space"><br><br>
    <input type="submit" class="btn btn-success btn-sm">
  </form>
</div>