<div class="body-content">
  <div class="shelter-card">
    <h1><%= @shelter.name %></h1>
    <p><%= @shelter.address %></p>
    <p><%= @shelter.city %>, <%= @shelter.state %></p>

    <% if @shelter.user_id == current_user.id %>
      <p><a href="/shelters/<%= @shelter.id %>/edit">Edit Shelter</a></p> <!-- Only the user who created the shelter can edit it-->
    <% end %>
  </div>

  <a href="/shelters" class="btn btn-default btn-sm">View All Shelters</a>

</div>