<div class="body-content">
  <h2>Edit Animal</h2>

  <div class="animal-card">
    <h1>Name: <%= @animal.name %></h1>
    <p>Species: <%= @animal.species %></p>
    <p>Breed: <%= @animal.breed %></p>
    <p>Age: <%= @animal.age %> years old</p>
    <p>Shelter: <%= @animal.shelter.name %></p>
  </div>

  <form action="/animals/<%= @animal.id %>" method="POST" class="top-space">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <input type="text" name="name" value="<%= @animal.name %>" class="space"><br>
    <input type="text" name="species" value="<%= @animal.species %>" class="space"><br>
    <input type="text" name="breed" value="<%= @animal.breed %>" class="space"><br>
    <input type="text" name="age" value="<%= @animal.age %>" class="space"><br>
    
    <label class="top-space">Choose a shelter:</label>
    <% Shelter.all.each do |shelter| %>
      <input id="shelter_<%= shelter.id %>" type="radio" name="animal[shelter_id]" value="<%= shelter.id %>" <%= 'checked' if @animal.shelter == shelter %>><%= shelter.name %></input><br>
    <% end %>  
    
    <br>
    <input type="submit" class="btn btn-success btn-sm">
  </form>

</div>