<div class="body-content">
  <div class="animal-card">
    <h1><%= @animal.name %></h1>
    <p><%= @animal.species %></p>
    <p><%= @animal.breed %></p>
    <p><%= @animal.age %> years old</p>

    <% if @animal.shelter.user_id == current_user.id %>
      <p><a href="/animals/<%= @animal.id %>/edit" class="btn btn-default btn-sm">Edit Animal</a></p><br>
    <% end %>
  </div>

  <br>
  <a href="/animals" class="btn btn-default btn-sm">View All Animals</a>

</div>

